<div class="page-accueil">
    <app-accueil-sous-menu></app-accueil-sous-menu>
    <div [ngStyle]="{'height': hauteur + 'px', 'opacity': 1}" style="overflow: hidden;">
        <app-accueil-achat-ticket></app-accueil-achat-ticket>
        <div style="height: 400px; background-color: #ddd">

        </div>
    </div>

    <div style="margin-top: 0px;">
        <app-accueil-location-voiture>

        </app-accueil-location-voiture>
    </div>

    <div style="margin-top: 0px;">
        <app-accueil-moyens-paiement>

        </app-accueil-moyens-paiement>
    </div>
</div>
