<div class="footer">
    <div class="contenu">
        <div class="row">
            <div class="col-lg-4 col-6">
                &copy; FM Travelling
                <br>
                Tous droits réservés
                <br>
                2021
            </div>
            <div class="col-lg-4 col-6">
                Tel : 696543495
                <br>
                Facebook
                <br>
                Instagram
                <br>
                Twitter
            </div>
        </div>
    </div>
</div>