
    <div class="sous-menu">
        <div class="contenu">
            <ul class="nav">
                <li class="nav-item" style="margin-left: -11px;">
                    <a class="nav-link">
                        Comment ça marche ?
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Conditions légales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">A propos de nous</a>
                </li>
            </ul>
        </div>
    </div>