
.sous-menu {
    padding-top:85px;

    
    @media screen and (max-width: 599px) {
        display: none;
    }

    .nav {
        .nav-item {
            a {
                color: #303030;
                font-size: 1.1em;
            }

            &:hover {
                background-color: #eee;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }
}
