<div class="page">
    <div class="entete">
        <div class="entete__contenu contenu">
            <div class="titre">
                Mon profil
            </div>
        </div>
    </div>
    <div class="contenu">
        <div class="row">
            <div class="col-lg-6">
                <div class="sous-titre">
                    Informations générales
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="libelle">
                            Nom complet
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="valeur">
                            MUANZA KANGUDIE
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="libelle">
                            Email
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="valeur">
                            muanza.kangudie@gmail.com
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="libelle">
                            Téléphone
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="valeur">
                            696543495
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="boutons">
                            <a class="btn btn-primary">
                                Modifier mon profil
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>